.nav{
    text-decoration: none;
    color: #eee;
    
}

.active{
    text-decoration: none;
    color: #ABD9FF;
}

header{
    margin: 2em 5em;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #ABD9FF;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 3em;
}

